.component-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0;
  width: 100%;

  .left {
    width: 862px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .right {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }
}

.course-sidebar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .cart-recommended-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .course-container,
  .no-courses {
    margin: 10px 0;
    //border: 1px solid black;
    max-height: 500px;
    width: 900px;
    min-width: 650px;
    // position: absolute;

    nav {
      top: 20px;
      margin: 10px;

      .page-item {
        padding: 5px;
        .page-link {
          border: none;
          color: #1d1d1d;
          border-radius: 25%;
        }
        .numbers {
          background-image: url("../../../assets/icons/Ellipse\ 11.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 0px;
          color: white;
        }
      }
    }
  }

  .recommended-container {
    .heading {
      margin: 10px 20px;
      color: #4e4e4e;
    }

    .recommended-course-container {
      height: 300px;
    }
    border: 1px solid #e0e0e0;
  }
}

.scroll {
  overflow-y: scroll;
}

button {
  font-size: 13px;
  height: 40px;
  width: 200px;
  background-color: #ff6738;
  border-radius: 4px;
  outline: none;
  border: none;
}

@media screen and (min-width: 1400px) {
  button {
    display: none;
  }
}
