.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  letter-spacing: 0px;
  color: #080808;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  min-width: 650px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0px 3px 6px #00000029;

  a {
    margin: 0 25px;
    text-decoration: none;
    color: inherit;
  }
}

.toolbar img {
  margin: 0 30px;
}

.bold {
  font-weight: 800;
  color: #080808;
}
