.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  letter-spacing: 0px;
  color: #080808;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  min-width: 650px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  color: #a7a7a7;
  box-shadow: 0px 3px 6px #00000029;

  a {
    margin: 0 25px;
    text-decoration: none;
    color: #a7a7a7;
  }
}

.toolbar img {
  margin: 0 30px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
