<div class="course-card">
  <div class="first">
    <div class="thumbnail"></div>
    <div class="desc">
      <div class="desc-top">
        {{ course.title.substring(0, 50) }}
      </div>
      <div class="desc-bottom">
        <span class="tags" *ngFor="let tag of course.tags"
          >{{ tag.substring(0, 5) }}&nbsp;</span
        >
      </div>
    </div>
  </div>
  <div class="second">
    <span>{{ course.author }}</span>
  </div>
  <div class="third">
    <div *ngIf="isWishList === false">
      <ng-container *ngIf="isWishListed === false">
        <a (click)="onClick($event)">
          <img src="../../../assets/icons/star.svg" />
        </a>
      </ng-container>
      <ng-container *ngIf="isWishListed === true">
        <a>
          <img src="../../../assets/icons/Path 28.svg" />
        </a>
      </ng-container>
    </div>
    <div class="price">
      <span
        >Rs{{
          course.discountedPrice != null
            ? course.discountedPrice
            : course.actualPrice
        }}/-</span
      >
    </div>
    <div class="discounted-price">
      <s>
        Rs{{ course.discountedPrice != null ? course.actualPrice : "-" }}/-
      </s>
    </div>
  </div>
  <div class="fourth">
    <button
      class="btn btn-primary text-white fw-semi-bold"
      (click)="onAddToCart()"
      *ngIf="isCart === false"
    >
      ADD TO CART
    </button>
    <div class="delete-button" *ngIf="isCart === true">
      <a (click)="onRemoveFromCart()" style="cursor: pointer"
        ><img src="../../../assets/icons/noun_Delete_3715928.svg"
      /></a>
    </div>
    <div class="delete-button" *ngIf="isWishList === true">
      <a (click)="onDelete()"
        ><img src="../../../assets/icons/noun_Delete_3715928.svg"
      /></a>
    </div>
    <div
      class="details-button"
      [routerLink]="['/course', course.id]"
      *ngIf="isWishList === false"
    >
      <a href="#" routerLink="course/{{ course.id }}">
        <img src="../../../assets/icons/arrow.svg" alt="" />
      </a>
    </div>
  </div>
</div>
