.container {
  min-width: 1300px;

  .component-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
    width: 100%;
    //border: 2px solid blue;

    .left {
      //border: 1px solid orange;
      width: 862px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .right {
      //border: 1px solid red;
      width: 350px;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      align-items: center;
    }
  }
  .main-container {
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1rem;

    .left {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: column;
      box-sizing: border-box;

      .details-header {
        min-height: 250px; //30vh; //272px;
        min-width: 690px; //45.6vw; //750px;
        margin-bottom: 10px;
        z-index: 1;
        color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        padding: 10px;

        .tags {
          background-color: white;
          border-radius: 4px;
          margin: 0 2px;
          padding: 2px 15px;
          color: black;
        }
      }

      .details {
        min-height: 280px; //33.5vh; //283px;
        width: 690px; //45.6vw; //750px;
        border: 1px solid #e0e0e0;
        font-weight: 200;
        box-sizing: border-box;
        padding: 10px;
      }
    }

    .right {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 0 15px;

      .player {
        margin-bottom: 10px;
        min-height: 284px; //34vh; //253px;
        min-width: 560px; //37vw; //500px;
        border: 1px solid #e0e0e0;
        z-index: 1;
        background-color: black;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        span {
          font-size: 6rem;
        }
      }

      .functionality {
        min-height: 220px; //26vh; //277px;
        min-width: 560px; //37vw; //500px;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        padding: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;

        .button {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-evenly;

          button {
            font-size: 14px;
            background-color: #ff6738;
            width: 13rem;
            height: 3rem;
            margin-right: 1.59rem;
            border-radius: 0.4rem;
            outline: none;
            border: none;
          }
        }
      }
    }
  }
}

.black-background {
  position: absolute;
  min-height: 250px; //30vh;
  width: 100vw; //750px;
  background-color: black;
  top: 175px; //21.1vh;
}
