.sidebar-cart {
  width: 372px;
  margin: 20px 10px;
  //border: 1px solid black;
  height: 465px; //67vh;
  // position: absolute;
  // right: 0;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  .header {
    text-align: center;
    margin: 15px;

    p {
      font: Montserrat;
      font-weight: 600;
      word-spacing: 2px;
    }
  }

  .cart-item {
    margin: 0 15px;
    height: 265px;
    overflow-y: scroll;
    font: normal normal medium 18px/22px Montserrat;

    .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      .thumbnail {
        height: 70px;
        width: 79px;
        background-color: #f2f2f2;
        width: 25%;
      }

      .desc {
        width: 65%;
      }
    }

    .bottom {
      margin-right: 20px;
      text-align: right;
    }
  }

  .footer {
    margin: 15px;

    .total-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 50px;

      .total {
        width: 49%;
      }

      .checkout-button {
        color: #ff6738;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .sidebar-cart {
    display: none;
  }
}
