<div class="sidebar" *ngIf="!isCart">
  <div class="header">
    <p>YOUR CART DETAILS</p>
    <hr />
  </div>
  <div class="cart-item" [ngClass]="cart.length > 2 ? 'scroll' : ''">
    <p *ngIf="cart.length === 0">
      <em
        >Your cart is empty right now. Please add courses in the cart from the
        list</em
      >
    </p>
    <div *ngFor="let cartItem of cart">
      <div class="top">
        <div class="thumbnail"></div>
        <div class="desc">
          {{ cartItem.title.substring(0, 30).toUpperCase() }}
        </div>
      </div>
      <div class="bottom">
        <strong
          >Rs&nbsp;{{
            cartItem.discountedPrice != null
              ? cartItem.discountedPrice
              : cartItem.actualPrice
          }}</strong
        >
      </div>
      <hr />
    </div>
  </div>
  <div class="footer">
    <hr />
    <div class="total-footer">
      <div class="total">
        <h6>Total Cart Value</h6>
        <h5>
          <strong>Rs {{ totalPrice }}/-</strong>
        </h5>
      </div>

      <div class="checkout-button">
        <a routerLink="/cart" style="text-decoration: none; color: #ff6738"
          >GO TO CHECKOUT</a
        >
      </div>
    </div>
  </div>
</div>
<div class="sidebar-cart" *ngIf="isCart">
  <div class="container">
    <h5>Total Amount</h5>
    <h3>Rs {{ totalPrice }}/-</h3>
    <p style="color: #629a33">
      <strong>You Have Saved Rs {{ savedAmount }}/-</strong>
    </p>
    <button
      [ngClass]="cart.length <= 0 ? 'disabled' : ''"
      class="btn btn-primary text-white fw-semi-bold"
      (click)="onCheckout()"
      style="outline: none"
    >
      CHECKOUT
    </button>
  </div>
</div>
