<div class="sidebar-cart">
  <div class="header">
    <p>YOUR CART DETAILS</p>
    <hr />
  </div>
  <div class="cart-item">
    <p>
      <em
        >Your cart is empty right now. Please add courses in the cart from the
        list</em
      >
    </p>
  </div>
  <div class="footer">
    <hr />
    <div class="total-footer">
      <div class="total">
        <h6>Total Cart Value</h6>
        <h5><strong>Rs 0/-</strong></h5>
      </div>

      <div class="checkout-button">
        <a>GO TO CHECKOUT</a>
      </div>
    </div>
  </div>
</div>
